.header-position {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.container-body {
    position: relative;
}

.footer-position {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
}
